rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /models/{fileName} {
      allow read, write: if true;
    }
    
    // Rules for other paths
    match /{allPaths=**} {
      allow read: if true;
      allow write: if false;  // Restrict write access to other folders
    }
  }
}