/* GlitchButtons.module.css */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,500&display=swap");

.cyber-radio-btn-group {
  margin: 10px;
  position: relative;
  width: 120px;
  margin-bottom: 8px;
}

.cyber-label {
  color: #fff;
  cursor: pointer;
  display: flex;
  font-weight: 500;
  font-style: italic;
  align-items: center;
  justify-content: center;
  font-family: "IBM Plex Mono", monospace;
  height: 40px;
  padding: 0 30px;
  position: relative;
  border: none;
  background: none;
  width: 100%;
}

.cyber-label::before {
  background-color: #24252c;
  background-image: repeating-linear-gradient(
    0deg,
    #181a29,
    #181a29 1px,
    #202436 1px,
    #202436 2px
  );
  border-radius: 8px;
  content: "";
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  transform: skew(-15deg);
  transition: box-shadow 700ms;
  width: 100%;
  z-index: -1;
}

.cyber-label:hover::before {
  box-shadow: 0 0 25px 2px #244f2e;
}

.cyber-span {
  transition: color 350ms;
  z-index: 1;
  color: #fff;
  font-size: 16px;
}

.cyber-svg {
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  transform: skew(-15deg);
  pointer-events: none;
}
